.gdpr-hide {
	display: none;
}
.gdpr-show {
	display: block;
}
.gdpr-cookie-banner {
    max-width: 100%;
    position: fixed;
    z-index: 99999;
    background: white;
    padding: 1em;
    right: 0;
	bottom: 0;
	font-size: .8em;

	@media screen and (min-width: 670px) {
		width: 350px;
		right: 288px;
		bottom: 22px;
		box-shadow: 1px 1px 13px #555;
	}

	@media screen and (min-width: 870px) {
		width: 550px;
		right: 288px;
		bottom: 22px;
		box-shadow: 1px 1px 13px #555;
	}

	.cookie-agree-btn {
		float: right;
		text-transform: uppercase;
	}

	a {
		text-decoration: underline;
		font-weight: 700;
	}
}